#content {
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
	text-align: left;
	max-width: 800px;
}

h1, p {
	font-family: sans-serif;
}

nav {
	/*width: 100%;*/
	border-bottom: 1px solid #AAA;
}

a {
	color: #666;
	text-decoration: none;
}

a:link {
}

a:visited {
}

a:hover {
	color: #333;
}

a:active {
	color: black;
}

.navbar {
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	font-family: sans-serif;
	/*width: 100%;*/
}

.navbar::after {
	content: "";
	display: block;
	clear: both;
}

.navitem {
	float: left;
	display: block;
	margin: 0px 1em 0px 0px;
	padding: 0px 0px 0px 0px;
	/*padding: 10px 10px 10px 10px;
	border-radius: 5px;
	background-color: white;
	border: 2px solid #AAA;*/
}

/*@media (max-width: 400px) {
	.navbar { display: none; }
}*/

.cvlist {
	list-style-type: none;
	padding: 0em 1em 0em 1em;
}

.cvitem {
	padding: 0em 0em 1em 0em;
}

.paper-title {
	color: #533980;
	font-weight: bold;
	margin: 0px 0px 3px 0px;
}

.authorlist {
	margin: 0px 0px 3px 0px;
}

.venue {
	font-style: italic;
	margin: 0px 0px 3px 0px;
}

.links {
}
